In [111]:
import numpy as np
import pandas as pd
!conda install -c conda-forge folium=0.5.0 --yes
import folium as folium
df_crimes = pd.read_csv('Police_Department_Incidents_-_Previous_Year__2016_.csv')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.2

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge

The following packages will be UPDATED:

    certifi: 2019.11.28-py36_0 anaconda --> 2019.11.28-py36_0 conda-forge

The following packages will be DOWNGRADED:

    openssl: 1.1.1-h7b6447c_0  anaconda --> 1.1.1d-h516909a_0 conda-forge


Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [108]:
df_crimes.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [87]:
df_crimes.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [88]:
df_crimes.drop(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
                'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'], axis=1, inplace=True)

In [89]:
df_crimes.rename(columns={'PdDistrict':'Neighbourhood'}, inplace=True)

In [90]:
df_crimes.head()

  Neighbourhood
0      SOUTHERN
1      SOUTHERN
2       BAYVIEW
3    TENDERLOIN
4       MISSION

In [102]:
t = df_crimes.Neighbourhood.value_counts()
table = pd.DataFrame(data=t.values, index=t.index, columns=['Count'])
table.reset_index(level=0, inplace=True)
table.rename(columns={'index':'Neighbourhood'})
table

   Neighbourhood  Count
0       SOUTHERN  28445
1       NORTHERN  20100
2        MISSION  19503
3        CENTRAL  17666
4        BAYVIEW  14303
5      INGLESIDE  11594
6        TARAVAL  11325
7     TENDERLOIN   9942
8       RICHMOND   8922
9           PARK   8699
10             0      1

In [103]:
table.head(9)

        index  Count
0    SOUTHERN  28445
1    NORTHERN  20100
2     MISSION  19503
3     CENTRAL  17666
4     BAYVIEW  14303
5   INGLESIDE  11594
6     TARAVAL  11325
7  TENDERLOIN   9942
8    RICHMOND   8922

In [105]:
world_map=folium_Map()
world_map

NameError: name 'folium_Map' is not defined

In [92]:
df_crimes.head(10)

  Neighbourhood  Count
0      SOUTHERN    1.0
1      SOUTHERN    NaN
2       BAYVIEW    NaN
3    TENDERLOIN    NaN
4       MISSION    NaN
5      NORTHERN    NaN
6      SOUTHERN    NaN
7    TENDERLOIN    NaN
8      SOUTHERN    NaN
9       BAYVIEW    NaN

In [114]:
!conda install -c anaconda xlrd --yes
df_san = pd.read_excel('https://cocl.us/sanfran_geojson')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.2

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'{\n  "typ'

In [110]:
df_san.head()

NameError: name 'df_san' is not defined